.box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box__item {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  align-self: center;
}